---
import Base from "../layouts/Base.astro";

const metaData = {
  title: "About",
  description: "Get to know me",
};
---

<Base meta={metaData}>
    <div>
        <h1>
            About Me
        </h1>
    </div>
</Base>
