---
import Base from "../layouts/Base.astro";
import SocialList from "../components/SocialList.astro";
import { getAllPosts, sortMDByDate } from "@/utils";
import PostPreview from "@/components/blog/PostPreview";

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);
---

<Base meta={{ title: "Home" }}>
  <section>
    <h1 class="title mb-6">👋🏽 Hello, Welcome to my Site!</h1>
    <p>
      I am a dedicated computer science student currently pursuing my academic
      journey at Simon Fraser University. My passion lies in leveraging
      technology to address tangible challenges in the world around us.
    </p>
    <br />

    <SocialList />

    <section aria-label="Blog post list" class="mt-16">
      <h2 class="title mb-4 text-xl">Posts</h2>
      <ul class="space-y-4 sm:space-y-2">
        {
          allPostsByDate.map((p) => (
            <li class="flex flex-col gap-x-2 sm:flex-row">
              <PostPreview post={p} />
            </li>
          ))
        }
      </ul>
      <span class="mt-4 block sm:text-end">
        <a
          class="sm:hover:text-accent"
          href="/posts"
          aria-label="View all posts"
        >
          View all →
        </a>
      </span>
    </section>

    <section aria-label="Experience" class="mt-16">
      <h2 class="title mb-4 text-xl">Experience</h2>
      <div class="relative mt-10">
        <div class="absolute inset-1 bg-accent rounded-lg blur-lg opacity-100">
        </div>
        <ul
          class="relative space-y-4 sm:space-y-2 p-5 rounded-lg outline-accent bg-accent bg-brightness-30 text-white"
        >
          <div class="flex flex-row">
            <h3 class="text-lg font-semibold">Redmane Technology</h3>
            <p class="flex-end ml-auto text-sm">Burnaby, B.C.</p>
          </div>
          <div class="flex flex-row">
            <p>Software Developer Intern</p>
            <p class="flex-end ml-auto text-sm">Jan 2023 - Aug 2023</p>
          </div>
          <ul class="space-y-4 sm:space-y-2 p-5 list-disc">
            <li>
              Designed and implemented a full-stack solution using technologies
              like ReactJS, Node.js, Express.js, SQL, and TypeScript.
            </li>
            <li>Collaborated within a dynamic team to develop applications.</li>
            <li>
              Engaged directly with clients, gathered requirements, and provided
              timely updates on project progress.
            </li>
            <li>
              Engaged directly with clients, gathered requirements, and provided
              timely updates on project progress.
              <li>
                Actively participated in code reviews, contributing constructive
                feedback to enforce code quality and improve team coding
                standards.
              </li>
            </li>
          </ul>
        </ul>
      </div>
    </section>
  </section>
</Base>