<section aria-label="Experience" class="mt-16">
    <h2 class="title mb-4 text-xl">Experience</h2>
    <div class="relative mt-10 group">
      <div class="absolute inset-1 bg-accent group-hover:blur-lg transition duration-200 rounded-lg opacity-100">
      </div>
      <ul
        class="relative space-y-4 sm:space-y-2 p-5 rounded-lg outline-accent bg-accent brightness-75 hover:brightness-100 transition duration-200 text-white "
      >
        <div class="flex flex-row">
          <h3 class="text-lg font-semibold">Redmane Technology</h3>
          <p class="flex-end ml-auto text-sm">Burnaby, B.C.</p>
        </div>
        <div class="flex flex-row">
          <p>Software Developer Intern</p>
          <p class="flex-end ml-auto text-sm">Jan 2023 - Aug 2023</p>
        </div>
        <ul class="space-y-4 sm:space-y-2 p-5 list-disc">
          <li>Collaborated within a dynamic team to develop applications.</li>
          <li>
            Designed and implemented a full-stack solution using technologies
            like ReactJS, Node.js, Express.js, SQL, and TypeScript.
          </li>
          <li>
            Engaged directly with clients, gathered requirements, and provided
            timely updates on project progress.
            <li>
              Actively participated in code reviews, contributing constructive
              feedback to enforce code quality and improve team coding
              standards.
            </li>
          </li>
        </ul>
      </ul>
    </div>
  </section>