---
import type { SiteMetadata } from "../types.ts";
import { siteConfig } from "../site.config.ts";

import "../styles/global.css";

type Props = SiteMetadata;

const { title, description} = Astro.props;

const titleSeparator = " | ";
const siteTitle = title + `${titleSeparator} ${siteConfig.title}`
---
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{siteTitle}</title>

<meta name="theme-color" content="" />
