<!-- list of projects -->
<section aria-label="Experience" class="mt-16">
    <h2 class="title mb-4 text-xl">Projects</h2>

    <div class="flex-column">
        <!-- 2 sections per row -->
        <div class="flex flex-wrap">
            <div class="w-full md:w-1/2">
                <div class="flex flex-col md:flex-row justify-center pr-5">
                    <div class="w-full bg-accent">
                        <h3 class="title mb-2 text-lg">Project 1</h3>
                        <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
                    </div>
                </div>
            </div>
            <div class="w-full md:w-1/2">
                <div class="flex flex-col md:flex-row justify-center pl-5">
                    <div class="w-full bg-accent">
                        <h3 class="title mb-2 text-lg">Project 2</h3>
                        <p class="mb-2">Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, voluptatum.</p>
                    </div>
                </div>
            </div>
    </div>
    
  </section>

  <!-- function for project -->
  