---
import Head from "../components/Head.astro"
import { siteConfig } from "../site.config";
import ThemeProvider from "../components/ThemeProvider.astro";
import Header from "./Header.astro";

import { ViewTransitions } from 'astro:transitions';

const {
    meta: {title, description = siteConfig.description},

} = Astro.props;
---

<html>
    <head>
        <Head title={title} description={description}/>
    	{<ViewTransitions fallback="none" transition:persist/>}
    </head>
    <ThemeProvider/>
    <Header/>
    <main id="main">
        <slot />
    </main>

</html>