---
import Head from "../components/Head.astro"
import { siteConfig } from "../site.config";
import ThemeProvider from "../components/ThemeProvider.astro";
const {
    meta: {title, description = siteConfig.description},

} = Astro.props;
---

<html>
    <head>
        <Head title={title} description={description}/>
    </head>
    <ThemeProvider/>
    <main id="main">
        <slot />
    </main>
</html>